<!--
  Generated template for the RoutesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Routes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div id="floating-panel">
    <b>Start: </b>
    <select [(ngModel)]="start" id="start" (change)="calculateAndDisplayRoute()">
     
      <option  *ngFor='let train of tolist' [value]="train.StationName">{{train.StationName}}</option>
	  
	
     
    </select><br>
    <b>End: </b>
    <select [(ngModel)]="end" id="end" (change)="calculateAndDisplayRoute()">
   
   
       <option  *ngFor='let trains of tolist' [value]="trains.StationName">{{trains.StationName}}</option>
    </select>
    </div>
    <div #map id="map"></div>
</ion-content>